@model Fiap.Project.Recipes.Domain.Models.Categoria
@*<form method="post" asp-action="Create">*@

<form method="post" action="/categoria/incluir">
    <label asp-for="Descrição"></label>
    <input asp-for="Descricao" />
    <br />
    <label asp-for="Titulo"></label>

    <input asp-for="Titulo" />
    <br />    
    <input type="submit" value="Salvar" />

    @Html.AntiForgeryToken()

</form>
